.scene
  width 100vw
  position relative
  overflow hidden
  background white
  noise()
  &:last-of-type
    border-bottom 0
  +above('l')
    padding 80px 0 60px
  +at('m')
    padding 60px 0 40px
  +below('s')
    padding 40px 20px 30px 20px
  &__header
    text-align center
    text-transform uppercase
    letter-spacing 2px
    color #333
    font-adaptive('header')