@font-face {
  font-family: "OpenSansRegular";
  src: url("~@core/fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("~@core/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
    url("~@core/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("~@core/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url("~@core/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("~@core/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix") format("embedded-opentype"),
    url("~@core/fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("~@core/fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("~@core/fonts/OpenSansLight/OpenSansLight.eot");
  src: url("~@core/fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"),
    url("~@core/fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("~@core/fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: lighter;
}

@font-face {
  font-family: "OpenSans";
  src: url("~@core/fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("~@core/fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"),
    url("~@core/fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("~@core/fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("~@core/fonts/OpenSansBold/OpenSansBold.eot");
  src: url("~@core/fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"),
    url("~@core/fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("~@core/fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "OpenSansExtraBold";
  src: url("~@core/fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("~@core/fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"),
    url("~@core/fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("~@core/fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("~@core/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("~@core/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("~@core/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("~@core/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("~@core/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("~@core/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("~@core/fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("~@core/fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("~@core/fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("~@core/fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"),
    url("~@core/fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("~@core/fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("~@core/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("~@core/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("~@core/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("~@core/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}