$fontFamilyRegular = 'OpenSansRegular', 'Verdana', sans-serif
$fontFamilySemiBold = 'OpenSansSemiBold', 'Verdana', sans-serif

$fontsSizes = {
  'header': {'s': 18px, 'm': 20px, 'l': 23px},
  'label': {'s': 15px, 'm': 16px, 'l': 18px},
  'content': {'s': 12px, 'm': 13px, 'l': 14px},
  'bricks': {'s': 10px, 'm': 11px, 'l': 14px},
  'small': {'s': 8px, 'm': 10px, 'l': 11px},
}

rupture.scale = 0 400px 600px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
