<div class="theater theater_mounted theater_stub" data-reactid=".0">
    <div class="scene scene_rocket js-rocket__scene scene_rocket_desktop" data-reactid=".0.0">
        <div class="scene_rocket__container js-rocket__container" data-reactid=".0.0.0"
             style="position: fixed; background-color: rgb(97, 200, 209);">
            <div class="scene_rocket__header" data-reactid=".0.0.0.0"><h1 class="scene_rocket__header-title"
                                                                                                  data-reactid=".0.0.0.0.0"><span
                    data-reactid=".0.0.0.0.0.0">Веб Студия </span><strong data-reactid=".0.0.0.0.0.1">Webulla</strong></h1>

                <h2 class="scene_rocket__header-description" data-reactid=".0.0.0.0.1">Мы делаем сайты. И делаем это на высшем уровне.</h2>
            </div>
            <div class="scene_rocket__rocket" data-reactid=".0.0.0.1">
                <svg class="scene_rocket__rocket-icon" viewBox="0 0 33 67" data-reactid=".0.0.0.1.0">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clipart__rocket"></use>
                </svg>
                <div class="scene_rocket__rocket-guide scene_rocket__rocket-guide_left scene_rocket__rocket-guide_visible"
                     data-reactid=".0.0.0.1.1">
                    <div class="scene_rocket__rocket-guide-label" data-reactid=".0.0.0.1.1.0">Наш бизнес</div>
                    <svg class="scene_rocket__rocket-guide-icon" viewBox="0 0 38 16" data-reactid=".0.0.0.1.1.1">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clipart__rocket-guide_left"></use>
                    </svg>
                </div>
                <div class="scene_rocket__rocket-guide scene_rocket__rocket-guide_right scene_rocket__rocket-guide_visible"
                     data-reactid=".0.0.0.1.2">
                    <div class="scene_rocket__rocket-guide-label" data-reactid=".0.0.0.1.2.0">Ваш бизнес</div>
                    <svg class="scene_rocket__rocket-guide-icon" viewBox="0 0 38 16" data-reactid=".0.0.0.1.2.1">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clipart__rocket-guide_right"></use>
                    </svg>
                </div>
            </div>
            <svg class="scene_rocket__clouds scene_rocket__clouds_left" viewBox="0 0 474.6 382.238" data-reactid=".0.0.0.2">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clipart__clouds_left"></use>
            </svg>
            <svg class="scene_rocket__clouds scene_rocket__clouds_right" viewBox="0 0 511.229 357.591" data-reactid=".0.0.0.3">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clipart__clouds_right"></use>
            </svg>
        </div>
    </div>
    <div class="scene scene_skills" data-reactid=".0.1"><h2 class="scene__header scene_skills__header" data-reactid=".0.1.0">Что мы умеем</h2>

        <div class="scene_skills__blocks" data-reactid=".0.1.1"><a href="http://webulla.ru" target="_blank"
                                                                   class="scene_skills__block scene_skills__blocks_website"
                                                                   data-reactid=".0.1.1.$0">
            <div class="scene_skills__block-label" data-reactid=".0.1.1.$0.0">Сайт-визитка</div>
            <div class="scene_skills__block-preview" data-reactid=".0.1.1.$0.1"><img class="scene_skills__block-picture"
                                                                                     src="/_/images/portfolio-webulla.59732fe1beffa9df4c42242dbc0fe33e.jpg"
                                                                                     data-reactid=".0.1.1.$0.1.0"></div>
            <div class="scene_skills__block-description" data-reactid=".0.1.1.$0.2">Электронная версия бумажной визитки. Оказывает "вау-эффект"
                на ваших клиентов.
            </div>
        </a><a href="http://cafafreeca.ru" target="_blank" class="scene_skills__block scene_skills__blocks_landing" data-reactid=".0.1.1.$1">
            <div class="scene_skills__block-label" data-reactid=".0.1.1.$1.0">Landing page</div>
            <div class="scene_skills__block-preview" data-reactid=".0.1.1.$1.1"><img class="scene_skills__block-picture"
                                                                                     src="/_/images/portfolio-cafafreeca.1c2c4f8f7533acd98174f76b4e58edc5.jpg"
                                                                                     data-reactid=".0.1.1.$1.1.0"></div>
            <div class="scene_skills__block-description" data-reactid=".0.1.1.$1.2">Landing page - это лицо вашего товара. Чем качественнее
                сделан лендинг, тем выше конверсия.
            </div>
        </a><a href="http://uf-pro.com" target="_blank" class="scene_skills__block scene_skills__blocks_website" data-reactid=".0.1.1.$2">
            <div class="scene_skills__block-label" data-reactid=".0.1.1.$2.0">Веб-сайт</div>
            <div class="scene_skills__block-preview" data-reactid=".0.1.1.$2.1"><img class="scene_skills__block-picture"
                                                                                     src="/_/images/portfolio-ufpro.4ffe8d10b46d092e12b173ad8c93b68f.jpg"
                                                                                     data-reactid=".0.1.1.$2.1.0"></div>
            <div class="scene_skills__block-description" data-reactid=".0.1.1.$2.2">Полноценный веб-сайт для вашей компании - это отличный
                способ создать свое представительство в интернете и увеличить количество ваших клиентов.
            </div>
        </a></div>
    </div>
    <div class="scene scene_advantages" data-reactid=".0.2"><h2 class="scene__header scene_advantages__header" data-reactid=".0.2.0">Наши
        приемущества</h2>

        <div class="scene_advantages__items" data-reactid=".0.2.1">
            <div class="scene_advantages__item scene_advantages__item_0" data-reactid=".0.2.1.$0">
                <div class="scene_advantages__item-preview" data-reactid=".0.2.1.$0.0">
                    <svg class="scene_advantages__item-icon" viewBox="0 0 49.964 50.599" data-reactid=".0.2.1.$0.0.0">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon__network"></use>
                    </svg>
                </div>
                <h3 class="scene_advantages__item-label" data-reactid=".0.2.1.$0.1">Распределенная система офиса</h3>

                <div class="scene_advantages__item-description" data-reactid=".0.2.1.$0.2">Пока другие тратят деньги клиентов на печенье и чай в
                    офис, мы нанимаем через интернет лучших сотрудников со всего мира.
                </div>
            </div>
            <div class="scene_advantages__item scene_advantages__item_1" data-reactid=".0.2.1.$1">
                <div class="scene_advantages__item-preview" data-reactid=".0.2.1.$1.0">
                    <svg class="scene_advantages__item-icon" viewBox="0 0 45.051 41.354" data-reactid=".0.2.1.$1.0.0">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon__choice"></use>
                    </svg>
                </div>
                <h3 class="scene_advantages__item-label" data-reactid=".0.2.1.$1.1">Команда под ваш проект</h3>

                <div class="scene_advantages__item-description" data-reactid=".0.2.1.$1.2">В других студиях сотрудники работают на нескольких
                    проектах сразу. У нас же целая команда занимается только вашим проектом.
                </div>
            </div>
            <div class="scene_advantages__item scene_advantages__item_2" data-reactid=".0.2.1.$2">
                <div class="scene_advantages__item-preview" data-reactid=".0.2.1.$2.0">
                    <svg class="scene_advantages__item-icon" viewBox="0 0 34.686 46.865" data-reactid=".0.2.1.$2.0.0">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon__quality"></use>
                    </svg>
                </div>
                <h3 class="scene_advantages__item-label" data-reactid=".0.2.1.$2.1">Высочайшее качество услуг</h3>

                <div class="scene_advantages__item-description" data-reactid=".0.2.1.$2.2">Высокое качество услуг - наша главная задача и к ее
                    решению мы подходим отвественно.
                </div>
            </div>
            <div class="scene_advantages__item scene_advantages__item_3" data-reactid=".0.2.1.$3">
                <div class="scene_advantages__item-preview" data-reactid=".0.2.1.$3.0">
                    <svg class="scene_advantages__item-icon" viewBox="0 0 64 38.024" data-reactid=".0.2.1.$3.0.0">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon__handshake"></use>
                    </svg>
                </div>
                <h3 class="scene_advantages__item-label" data-reactid=".0.2.1.$3.1">Комфортный клиентский сервис</h3>

                <div class="scene_advantages__item-description" data-reactid=".0.2.1.$3.2">Мы прилагаем большие усилия к тому, чтобы вы были
                    довольны общением с нами.
                </div>
            </div>
        </div>
    </div>
    <div class="scene scene_poll" data-reactid=".0.3">
        <div class="scene_poll__background" data-reactid=".0.3.0"></div>
        <h2 class="scene__header scene_poll__header" data-reactid=".0.3.1">Опрос для эффективной консультации</h2>

        <div class="scene_poll__content" data-reactid=".0.3.2">
            <div class="scene_poll__question scene_poll__question_pick" data-reactid=".0.3.2.0"><h5 class="scene_poll__question-label"
                                                                                                    data-reactid=".0.3.2.0.0">Какая у вас
                цель?</h5><a href="#" class="scene_poll__question-answer" data-key="1" data-value="Создать страницу мероприятия в интернете"
                             data-next="10" data-reactid=".0.3.2.0.1:$1">Создать страницу мероприятия в интернете</a><a href="#"
                                                                                                                        class="scene_poll__question-answer"
                                                                                                                        data-key="2"
                                                                                                                        data-value="Продать товар или услугу с помощью сайта"
                                                                                                                        data-next="20"
                                                                                                                        data-reactid=".0.3.2.0.1:$2">Продать
                товар или услугу с помощью сайта</a><a href="#" class="scene_poll__question-answer" data-key="3"
                                                       data-value="Создать персональный сайт с портфолио" data-next="30"
                                                       data-reactid=".0.3.2.0.1:$3">Создать персональный сайт с портфолио</a><a href="#"
                                                                                                                                class="scene_poll__question-answer"
                                                                                                                                data-key="4"
                                                                                                                                data-value="Создать сайт компании с ее описанием"
                                                                                                                                data-next="40"
                                                                                                                                data-reactid=".0.3.2.0.1:$4">Создать
                сайт компании с ее описанием</a><a href="#" class="scene_poll__question-answer" data-key="5"
                                                   data-value="Создать простой сайт-визитку с контактами" data-next="50"
                                                   data-reactid=".0.3.2.0.1:$5">Создать простой сайт-визитку с контактами</a><a href="#"
                                                                                                                                class="scene_poll__question-answer"
                                                                                                                                data-key="6"
                                                                                                                                data-value="Другой вариант"
                                                                                                                                data-next="100"
                                                                                                                                data-reactid=".0.3.2.0.1:$6">Другой
                вариант</a></div>
        </div>
    </div>
    <div id="scene_order" class="scene scene_order" data-reactid=".0.4"><h2 class="scene__header scene_order__header" data-reactid=".0.4.0">
        Закажите консультацию</h2>

        <div class="scene_order__content" data-reactid=".0.4.1">
            <form class="scene_order__form" autocomplete="off" data-reactid=".0.4.1.0">
                <div class="scene_order__offer" data-reactid=".0.4.1.0.0">
                    <div class="scene_order__offer-header" data-reactid=".0.4.1.0.0.0">Мы проконсультируем вас по вашим задачам и подберем
                        необходимые услуги под ваши запросы.
                    </div>
                    <div class="scene_order__offer-blocks" data-reactid=".0.4.1.0.0.1"><a href="#"
                                                                                          class="scene_order__offer-block scene_order__offer-block_website"
                                                                                          data-reactid=".0.4.1.0.0.1.0"><span
                            class="scene_order__offer-block-label" data-reactid=".0.4.1.0.0.1.0.0">Веб-сайт</span></a><a href="#"
                                                                                                                         class="scene_order__offer-block scene_order__offer-block_cutaway"
                                                                                                                         data-reactid=".0.4.1.0.0.1.1"><span
                            class="scene_order__offer-block-label" data-reactid=".0.4.1.0.0.1.1.0">Сайт-визитка</span></a><a href="#"
                                                                                                                             class="scene_order__offer-block scene_order__offer-block_landing"
                                                                                                                             data-reactid=".0.4.1.0.0.1.2"><span
                            class="scene_order__offer-block-label" data-reactid=".0.4.1.0.0.1.2.0">Landing page</span></a></div>
                </div>
                <div class="scene_order__contacts" data-reactid=".0.4.1.0.1"><input type="text" name="name"
                                                                                    class="scene_order__input scene_order__input_text scene_order__input_name"
                                                                                    placeholder="Ваше имя" data-reactid=".0.4.1.0.1.0"><span
                        class="scene_order__important" data-reactid=".0.4.1.0.1.1"><span data-reactid=".0.4.1.0.1.1.0">Leave this empty: </span><input
                        type="text" name="url" data-reactid=".0.4.1.0.1.1.1"></span><input type="phone" name="contact"
                                                                                           class="scene_order__input scene_order__input_text scene_order__input_contact"
                                                                                           placeholder="Ваш телефон или email"
                                                                                           data-reactid=".0.4.1.0.1.2">
                    <button type="submit" class="scene_order__input scene_order__input_submit" data-reactid=".0.4.1.0.1.3">Заказать
                        консультацию
                    </button>
                </div>
            </form>
        </div>
        <div class="scene_order__feedback" data-reactid=".0.4.2"><a href="tel:+7 (985) 740 7470" class="scene_order__feedback-item"
                                                                    data-reactid=".0.4.2.0">+7 (985) 740 7470</a><a
                href="mailto:target@mail.com" class="scene_order__feedback-item" data-reactid=".0.4.2.1">target@mail.com</a></div>
    </div>
    <a href="#scene_order" class="theater__button theater__button_hidden" data-reactid=".0.5">Заказать консультацию</a></div>
